<div>
  <img src="/assets/profile-pic.jpeg" alt="Headshot of Maxi Ferreira">
  <p>
    Hi, I'm <strong>Alex</strong>. I'm a AI engineer and AI consultant based in Europe.
    <!-- You can follow me on <a href="https://www.twitter.com/he" target="_blank">Twitter</a>, -->
    see some of my work on <a href="https://www.github.com/ozeron" target="_blank">GitHub</a>,
    or read more about me on <a href="https://alexlapchenko.com" target="_blank">my website</a>.
  </p>
</div>

<style>
  div {
    align-items: center;
    display: flex;
  }

  img {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    display: block;
    margin-right: 20px;
  }

  p {
    font-size: 1.125rem;
  }
</style>
